<h1>List Post</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Post</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Lorem ipsum ipsum ipsum</td>
            <td><a href="">Ver</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lorem ipsum ipsum ipsum</td>
            <td><a href="">Ver</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lorem ipsum ipsum ipsum</td>
            <td><a href="">Ver</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lorem ipsum ipsum ipsum</td>
            <td><a href="">Ver</a></td>
        </tr>
    </tbody>
</table>