<h1>List Post</h1>

<div *ngIf="loading" class="text-center m-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<table *ngIf="!loading">
    <thead>
        <tr>
            <th>ID</th>
            <th>Post</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td><a [routerLink]="['/post', post.id]">Ver</a></td>
        </tr>
    </tbody>
</table>