div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 65vw;
    height: auto;
}

a{

    background-color: gray;
    text-decoration: none;
    color: white;
    padding: 0.5em 3em;
    border-radius: 20px;
    text-align: center;
}