/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3em;
}

th, td{
    padding: 0.5em 1em;
    text-align: center;
    border: 1px solid black;
    margin: 0;
}

th{
    background-color: gray;
}

table{
    border-collapse: collapse;
}