<form [formGroup]="newCommentForm" (submit)="saveComment()" class="mt-5">
    <h3>Nuevo comentario</h3>

    <div class="container-form">
        <!-- Name -->
        <input required class=" form-control" type="text" placeholder="Name" formControlName="name"
            [class.is-invalid]="invalidName">
        <small *ngIf="invalidName">Este campo es requerido</small>

        <!-- Email -->
        <input required class="form-control" type="email" placeholder="ejemplo@gmail.com" formControlName="email"
            [class.is-invalid]="invalidEmail">
        <small *ngIf="invalidEmail">Este campo es requerido, ingrese un formato válido</small>

        <!-- Messaga -->
        <textarea required class="form-control" placeholder="Agrega tu comentario" cols="30" rows="10"
            formControlName="body" [class.is-invalid]="invalidMessage"></textarea>
        <small *ngIf="invalidMessage">Este campo es requerido. No puede tener más de 500 caracteres</small>

    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>